#!/usr/bin/env sh

DYNAMIC_ISLAND_DIR="$HOME/.config/sketchybar/plugins/dynamic-island/"

# THIS SHOULD BE FIRST
source "$DYNAMIC_ISLAND_DIR/item.sh" # Loads Dynamic-Island item

# Set up your own custom sketchybar config here

###############################################

# Load other items

sketchybar --update
