#!/usr/bin/env sh

DYNAMIC_ISLAND_DIR="$HOME/.config/sketchybar/plugins/Dynamic-Island-Sketchybar"

# Define Dynamic island custom configs here
source "$DYNAMIC_ISLAND_DIR/config.sh" # Loads Dynamic-Island config

# run helper program
ISLANDHELPER=git.crissnb.islandhelper
killall islandhelper
cd $DYNAMIC_ISLAND_DIR/helper && make
$DYNAMIC_ISLAND_DIR/helper/islandhelper $ISLANDHELPER &

# Set up your own custom sketchybar config here

###############################################

source "$DYNAMIC_ISLAND_DIR/item.sh" # Loads Dynamic-Island item

sketchybar --update
